doctype html
html
  head
    title Hazel

    link(rel='stylesheet', href='/stylesheets/global.css')
    block styles
  body
    header#header
      div.container
        h1.logo
          a(href='/') Hazel
        nav
          if authenticated
            a(href='/applications') Applications
            a(href='/users') Users
            a(href='/signout') Signout

    section#content
      block content
