extends _layout

block styles
  link(rel="stylesheet", href="/stylesheets/homepage.css")

block content
  div.container.pale-content
    .flex-row
      article.company-box.company-box-top
        header(style="background:#3498db;") Busbud
        div.info
          p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
          p 32 commentaires
        footer
          span
            img(src="/images/stars/5.png")
          a(href="") Plus d'information »

      article.company-box.company-box-top
        header(style="background:#2ecc71;") Transit App
        div.info
          p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
          p 8 commentaires
        footer
          span
            img(src="/images/stars/3.5.png")
          a(href="") Plus d'information »

    p.homepage-banner
      | <strong>Student Squad</strong> vous fais découvrir des compagnies et des étudiants en qui <br/>vous pouvez avoir confiance grâce au <strong>recommendations authentiques</strong>.

    div.flex-row
      .flex-item.homepage-search-box
        a(href="/search?type=company") Rechercher une compagnie
      .flex-item.homepage-search-box
        a(href="/search?type=student") Rechercher un étudiant
